site_name: Modul Algoritma dan Pemrograman
site_url: https://ismailrusli.github.io/modul_alpro
theme:
  name: material
  features:
    - search.suggest
    - search.highlight
    - content.code.copy

plugins:
  - search

nav:
  - modul0.md
  - modul1.md
  - modul2.md
  - modul3.md
  - modul4.md
  - modul5.md
  - modul6.md
  - modul7.md
  - modul8.md
      
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - admonition
